{% extends 'base.html' %}

{% block title %}
Удвалить город
{% endblock %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-header">Удалить город? {{ city }}</div>
    <form action="{{ city.get_delete_url }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card-header">
            <a href="{{ city.get_absolute_url }}"
               class="btn btn-outline-secondary">Назад</a>
            {% if request.user.is_authenticated %}
            <button type="submit" class="btn btn-primary btn-block">Да</button>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}